@import '../../global.scss';

.footer {
    background-color: #0E0E0E;
    min-height: 50vh;
    padding: 1rem 2.5rem;
    margin-top: 3rem;

    .content__top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #ccc;


        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .IconButton {
                background-color: tomato;
                margin: 20px auto;
                width: 50px;
                height: 50px;

                .MuiIconButton-label {
                    color: #fff !important;
                }
            }

            p {
                color: #fff;
            }
        }
    }

    .content__center {
        display: flex;
        justify-content: space-around;
        padding: 1rem 2.5rem;
        border-bottom: 1px solid #fff;

        * {
            color: #fff;
        }

        h3 {
            font-weight: bold;
            text-shadow: 0px 2px 2px #fb9a61;
        }

        .input_mail {
            color: #000;
            padding: 8px 16px;
            border: 1px solid #fff;

            &:focus {
                outline: none;
                border: 1px solid #fff;
            }
        }
    }

    .content__bottom {
        display: flex;
        align-items: center;
        justify-content: center;


        p {
            margin: 10px;
            height: 24px;
        }

        * {
            color: #fff;
        }
    }

    @include mobile {
        .content__top {
            flex-direction: column;
        }

        .content__center {
            flex-direction: column;
        }
    }
}